In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [3]:
import seaborn as sns
import pandas as pd

In [4]:
df = sns.load_dataset('planets')
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [5]:
df.method.value_counts()

{'Radial Velocity': 553,
 'Transit': 397,
 'Imaging': 38,
 'Microlensing': 23,
 'Eclipse Timing Variations': 9,
 'Pulsar Timing': 5,
 'Transit Timing Variations': 4,
 'Orbital Brightness Modulation': 3,
 'Astrometry': 2,
 'Pulsation Timing Variations': 1}

In [6]:
featured_methods = ['Radial Velocity',  'Transit', 'Imaging', 'Microlensing', 'Eclipse Timing Variations']
featured_methods

['Radial Velocity',
 'Transit',
 'Imaging',
 'Microlensing',
 'Eclipse Timing Variations']

In [7]:
general_method = 'others'

In [8]:
df['featured_methods'] = df.method.map(lambda x: x if x in featured_methods else general_method)

In [9]:
df.head()

,method,number,orbital_period,mass,distance,year,featured_methods
0,Radial Velocity,1,269.300,7.10,77.40,2006,Radial Velocity
1,Radial Velocity,1,874.774,2.21,56.95,2008,Radial Velocity
2,Radial Velocity,1,763.000,2.60,19.84,2011,Radial Velocity
3,Radial Velocity,1,326.030,19.40,110.62,2007,Radial Velocity
4,Radial Velocity,1,516.220,10.50,119.47,2009,Radial Velocity

In [10]:
df.featured_methods.value_counts()

Radial Velocity              553
Transit                      397
Imaging                       38
Microlensing                  23
others                        15
Eclipse Timing Variations      9
Name: featured_methods, dtype: int64

In [11]:
featured_methods_dummy_rep = pd.get_dummies(df.featured_methods, drop_first = True)
featured_methods_dummy_rep.head()

   Imaging  Microlensing  Radial Velocity  Transit  others
0        0             0                1        0       0
1        0             0                1        0       0
2        0             0                1        0       0
3        0             0                1        0       0
4        0             0                1        0       0

In [12]:
final_df = pd.concat([df, featured_methods_dummy_rep], axis = 1)
final_df.head()

,method,number,orbital_period,mass,distance,year,featured_methods,Imaging,Microlensing,Radial Velocity,Transit,others
0,Radial Velocity,1,269.300,7.10,77.40,2006,Radial Velocity,0,0,1,0,0
1,Radial Velocity,1,874.774,2.21,56.95,2008,Radial Velocity,0,0,1,0,0
2,Radial Velocity,1,763.000,2.60,19.84,2011,Radial Velocity,0,0,1,0,0
3,Radial Velocity,1,326.030,19.40,110.62,2007,Radial Velocity,0,0,1,0,0
4,Radial Velocity,1,516.220,10.50,119.47,2009,Radial Velocity,0,0,1,0,0