In [29]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

In [30]:
import pandas as pd

In [31]:
df = pd.read_csv('data-05-mercedesbenz.csv', usecols=['ID', 'y', 'X0', 'X1'])
df.head()

   ID       y  X0 X1
0   0  130.81   k  v
1   6   88.53   k  t
2   7   76.26  az  w
3   9   80.62  az  t
4  13   78.02  az  v

In [32]:
X0_freq_count_dict = df.X0.value_counts().to_dict()
X0_freq_count_dict

{'z': 360,
 'ak': 349,
 'y': 324,
 'ay': 313,
 't': 306,
 'x': 300,
 'o': 269,
 'f': 227,
 'n': 195,
 'w': 182,
 'j': 181,
 'az': 175,
 'aj': 151,
 's': 106,
 'ap': 103,
 'h': 75,
 'd': 73,
 'al': 67,
 'v': 36,
 'af': 35,
 'ai': 34,
 'm': 34,
 'e': 32,
 'ba': 27,
 'at': 25,
 'a': 21,
 'ax': 19,
 'aq': 18,
 'i': 18,
 'am': 18,
 'u': 17,
 'aw': 16,
 'l': 16,
 'ad': 14,
 'k': 11,
 'au': 11,
 'b': 11,
 'as': 10,
 'r': 10,
 'bc': 6,
 'ao': 4,
 'c': 3,
 'aa': 2,
 'q': 2,
 'ab': 1,
 'ac': 1,
 'g': 1}

In [33]:
df['featured_X0'] = df.X0.map(X0_freq_count_dict)

In [34]:
df.head()

   ID       y  X0 X1  featured_X0
0   0  130.81   k  v           11
1   6   88.53   k  t           11
2   7   76.26  az  w          175
3   9   80.62  az  t          175
4  13   78.02  az  v          175